<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @checklist.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @checklist.description %>
</p>

<ul>
  <% @checklist.items.each do |item| %>
    <li><%= item.title %> | <%= item.description %></li>
  <% end %>
</ul>


<%= render "items/form" %>

<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %>
